<% @students.to_a.each do |student| %>
    <div id = "boxId_<%= student.id %>" class = "studentBoxes">
        <p style ="color: <%= student.color %>"> <%= student.name %></p>
        <p> <%= student.gpa %></p>
    </div>
<% end %>